<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Image Processing Laboratory</h5>
        <p class="grey-text text-lighten-4">Image Processing Laboratory - University of Pannonia</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Links</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" target="_blank" href="https://keplab.mik.uni-pannon.hu/en/urbanization-index">Project Page</a></li>
          <li><a class="grey-text text-lighten-3" target="_blank" href="https://keplab.mik.uni-pannon.hu">Image Processing Laboratory</a></li>
          <li><a class="grey-text text-lighten-3" target="_blank" href="http://uni-pannon.hu">University of Pannonia</a></li>
          <li><a class="grey-text text-lighten-3" target="_blank" href="http://localhost:3000">Data Visualization Component</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      © 2021 Copyright - <a href="http://keplab.mik.uni-pannon.hu" target="_blank" class="grey-text text-lighten-3">Image Processing Laboratory</a>
      <a class="grey-text text-lighten-4 right">Created by <a href="mailto:paterik4@gmail.com" class="grey-text text-lighten-3 bold">Paterik Web Design</a></a>
    </div>
  </div>
</footer>
